
<div class ="mat-elevation-z30' : true, 'sticky' : isSticky">
  <mat-toolbar class="  bg-white border-gray-200
   px-2 sm:px-4 py-2.5 text-blue-600 text-base font-thin" >
   <div class="container flex flex-wrap justify-between items-center mx-auto">
    <button mat-icon-button class="example-icon"
   aria-label="Example icon-button with menu icon"
   (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LMS App</span>

  <span class="example-spacer"></span>
<div >
   <button mat-button class="text-neutral-900 text-sm font-serif ">Primary</button>
  <button mat-button class="text-neutral-900 text-sm font-serif " >{{loggedInUser}}</button></div>


  <div class="app-button-row">

    <button mat-raised-button  class="col-start-auto font-serif">Login</button>
  </div>



    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddContactDialog()">New Contact</button>
      <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>
      <button mat-menu-item (click)="toggleDir.emit()">Toggle dir</button>
    </mat-menu>


    </div>





</mat-toolbar>
</div>



