<!-- 

      <mat-toolbar class=" mat-accent  mat-elevation-z10 ">
        <div class="flex justify-between flex-wrap w-full font-thin" >
           <div class="ml-0 w-10 px-0 mt-1">
              <div class="   text-white text-center w-10 h-8 border-2 bg-opacity-100" *ngIf="drawer.opened && showFiller">
            <mat-icon (click)="showFiller = !showFiller" mat-raised-button >keyboard_double_arrow_left</mat-icon>
          </div>
            <div *ngIf="drawer.opened && !showFiller" class="  text-white text-center  h-8 border-2 bg-opacity-100">
              <mat-icon (click)="showFiller = !showFiller" mat-raised-button > keyboard_double_arrow_right </mat-icon></div>
          </div>

              <div></div>

              <div >
                <div class=" border-2 rounded-full text-center text-white h-10">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span > MO</span></button></div>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item >Profile</button>
                  <button mat-menu-item >Logout</button>
                </mat-menu>
              </div>
            </div>
        </mat-toolbar> -->

