
<div class=" p-6 min-w-md lg:m-40 bg-slate-500 rounded-lg border border-gray">

  <mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">

        <form class="example-form">
          <div class="p-2" >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi " >
          </mat-form-field>

        </div>
        <div class="login-box mat-elevation-z4 bg-slate-300 w-max">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi " >
          </mat-form-field>

        </div>
        </form>


    </mat-tab>
    <mat-tab label="Long tab">
      <div class="register-box -box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
</div>



