
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
<div>
  <router-outlet></router-outlet>
</div>
</mat-drawer-container> -->

<!-- <div #sidenav class="fixed top-14 my-2 left-12 h-screen w-40 m-0 flex flex-col
bg-gray-400 text-white shadow-lg" >
<mat-sidenav-container class="container">
  <mat-toolbar color="primary" class="">
    <p>Dashboard</p>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>

</div> -->

<mat-drawer-container class="example-container" autosize>

<mat-drawer-content>
  <mat-drawer #drawer class="example-sidenav" mode="push">

    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-content>

</mat-drawer-container>

