
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
<div>
  <router-outlet></router-outlet>
</div>
</mat-drawer-container> -->

<!-- <div #sidenav class="fixed top-14 my-2 left-12 h-screen w-40 m-0 flex flex-col
bg-gray-400 text-white shadow-lg" >
<mat-sidenav-container class="container">
  <mat-toolbar color="primary" class="">
    <p>Dashboard</p>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>

</div> -->
<app-toolbar (toggleSidenav)="drawer.toggle()" class="">
</app-toolbar>

<mat-drawer-container class="bg-white app-container font-sans text-red-800 " autosize>
  <mat-drawer #drawer class=" mat-elevation-z10  left-0 h-screen  flex flex-col
  text-black shadow-lg" [opened]="!isScreenSmall"
  [mode]="isScreenSmall ? 'push' : 'side'">

    <!-- <mat-toolbar class="  bg-blue-600 mat-elevation-z10 "*ngIf="showFiller" >
     Dashboard
    </mat-toolbar> -->
<mat-list-item>

<mat-icon (click)="showFiller = !showFiller" mat-raised-button>login</mat-icon>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      >>>
    </button>
</mat-list-item>



  </mat-drawer>





      <mat-toolbar class=" bg-cyan-400 mat-elevation-z10  fixed" >

        <button> >>></button>
      </mat-toolbar>
      <div class="app-sidenav-content">
    <div class="wrapper">
    <router-outlet></router-outlet>
    </div>

    </div>



</mat-drawer-container>

