.main-frame{
  height: 100vh;

}
.app-container {
  flex: 1;
  width: 100vh;
  height: 100vh;
  min-width: 100%;

}


.example-sidenav {
  width: 240px;
}
.wrapper {
  height: 100%;
  width: 100%;
  min-width: 100%;

}
.mat-drawer{
  height: 100%;
  --tw-bg-opacity: 1;
  background-color:rgb(241 245 249 / var(--tw-bg-opacity));

}

